.card_row{
  position: relative;
  margin-bottom: 5rem;
}

.card_row::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -1rem;
  background-color: rgba(199, 199, 199, 0.5);
  transform: scaleX(.8)
}

.card_row:last-child::after{
  content: none;
}

.sales_tax{
  display: inline-block;
  font-size: 80%
}