<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-xs-6">
                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
              </div>
              <div class="col-xs-6">
                <button type="button" class="btn btn-primary btn-sm btn-block">
                  <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">

          <!-- cart items loop -->
          <cart-card proplist="cartItems" click="removeItem" image-prefix="imgPrefix"></cart-card>

        </div>
        <div class="panel-footer">
          <div class="row text-center">
            <div class="col-xs-9">
              <h4 class="text-right">Total <strong>${{ totalPrice(cartItems) }}</strong><br><span class="sales_tax">(inc. tax: ${{ getSalesTax().amount }} @ {{getSalesTax().rate}}%)</span></h4>
            </div>
            <div class="col-xs-3">
              <a type="button" class="btn btn-success btn-block" href="#!checkout"  ng-disabled="itemsInCart()">
                Checkout
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>