<div class="card_row" ng-repeat="item in proplist">
  <div class="row">
    <div class="col-xs-2"><img class="img-responsive" src="{{ imagePrefix + item.img }}">
    </div>
    <div class="col-xs-4">
      <h4 class="product-name"><strong>{{ item.name }}</strong></h4>
      <h4><small>{{ item.blurb }}</small></h4>
    </div>
    <div class="col-xs-6">
      <div class="col-xs-6 text-right">
        <h6><strong>{{ item.currency }}{{ item.price }} <span class="text-muted">x</span></strong></h6>
      </div>
      <div class="col-xs-4">
        <input type="number" min=0 max=100 class="form-control input-sm" ng-model="item.qty">
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-link btn-xs" ng-click="click(item._id)">
          <span class="glyphicon glyphicon-trash"> </span>
        </button>
      </div>
    </div>
  </div>
</div>